<!-- using Change Detection.onpush  -->
<div>
    <input type="text" [(ngModel)]="childData"  placeholder="Enter Any thing to See Change detection" style="padding: 5px; width: -webkit-fill-available;">
    <button (click)="senddata()"> Send to Parent</button>
</div>


<div class="course-card">
    <div class="course-title">
        {{index}} {{ course.description}}
    </div>
    <img width="300" [alt]="course.description" [src]="course.iconUrl">

    <!-- Change Detection  -->
    <div class="course-description">
       Edit Title: <input #inputChange [value]="course.description" (keyup)="Onchange(inputChange.value)" >
    </div>

    <div class="course-category">
        @switch (course.category) {
        @case ("BEGINNER") {
        <div class="category"> Beginner</div>
        }
        @case ("INTERMIDIATE") {
        <div class="category"> Intermidiate </div>
        }
        @case ("ADVANCED") {
        <div class="category"> Advanced </div>
        }
        @default {
            <div class="category"> Unknown </div>
        }
        }
    </div>
    <button (click)="onCourseView()"> View Details </button>
</div>


